# Built variants
**/build/

# Android Studio
*.iml
.idea/
captures/
.externalNativeBuild/
.cxx/
*.hprof
.DS_Store

# Kotlin
.kotlin/
.apple/

# Keystore files (Keep your signing keys private!)
*.jks
*.keystore
*.p12

# Google Services (Firebase)
google-services.json

# Secrets & Local Config
secrets.properties
local.properties

# Log files
*.log

# Backup files
*.bak
*~

# Gradle
.gradle/
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache
